
/*
    预设

    React 相关：

        babel: babel-loader, babel-core, babel-preset-es2015, babel-preset-react

        babel-preset-es2015: es6 -> es5 转换
        babel-preset-react: 支持 react 插件

    install: `npm install --save-dev babel-loader babel-core babel-preset-es2015 babel-preset-react`
 */
    
{
    presets: [
        "es2015",
        "react"
    ],
}
