@charset "UTF-8";
/**
 * 
 * @authors zc li (lizc@ipanel.cn)
 * @date    2016-11-02 10:17:32
 * @version $Id$
 */

/* 进度条面板 */
#processPanel {
	display: block;

	margin: 0 auto;
	margin-top: 300px;

 	width: 640px;
 	height: 50px;

	border-radius: 8px;

	background: url("../images/bg-seek2.png");

 	z-index: 1;
}

/* 共同属性 */
#beginTime,
#totalTime {
	width: 60px;
	height: 50px;
	line-height: 50px;
	font-size: 20px;
	color: white;
	text-align: center;
}

/* 开始时间 */
#beginTime {
	float: left;
}

/* 颜色条容器 */
#processBarContainer {
	float: left;
	position: relative;

	width: 520px;
	height: 50px;

	background-color: #216FEB;
}

/* 进度条颜色条 */
#processBar {
	position: absolute;
	left: 10px;
	bottom: 5px;
	width: 100px;
	max-width: 500px;
	height: 20px;

	background-color: #FFFD0D;
}

/* 总时长 */
#totalTime {
	float: right;

}

