@charset "UTF-8";
/**
 * 重置元素样式
 * 
 * @authors zc li (ccc_simon@163.com)
 * @date    2017-02-09 18:26:39
 * @version $Id$
 */


* {
	
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p { margin-bottom: 10px; }

ol, ul, dl { list-style-position: inside; }